* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --font-family: Arial, sans-serif;
    --font-size: 12px;
}

body {
    background: black;
    color: white;

    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.2;
}


/* -------------------------------------------------- Common classes
*/
.fill-screen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}

button {
    color: white;
    line-height: 1.2;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #0007;
}

/* -------------------------------------------------- View canvas
*/
#view-canvas {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/* -------------------------------------------------- Splash text
*/
#splash {
    padding-top: 60px;
    font-size: 24px;
    text-align: center;
    pointer-events: none;
    line-height: 1;
    text-shadow: -25px 1px 20px black, 0 1px 20px black, 25px 1px 20px black;
}
#splash small {
    font-size: 12px;
    line-height: 1.2;
}

/* -------------------------------------------------- Topbar
*/
#topbar {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    padding: 5px;
    gap: 4px;
    background: linear-gradient(#0005, #0000);
}

#topbar .tally {
    width: 150px;
    background: #000a;
    border: 1px solid #aaaa;
    border-radius: 5px;
    box-shadow: 0 0 1px #0007;
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    background-clip: padding-box;
}
#topbar .tally-title {
    text-align: left;
}
#topbar .tally-value {
    font-weight: bold;
}

/* -------------------------------------------------- Cursor lock indicator
*/
.cursor-lock {
    pointer-events: none;
    background: #fff7;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------- Windows
*/
.window {
    position: fixed;
    width: 150px;
    background: #000c;
    border: 1px solid #aaaa;
    border-radius: 5px;
    box-shadow: 0 0 1px #0007;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.window > .window-title {
    background: linear-gradient(#333a, #111a);
    border-bottom: 1px solid #aaaa;
    padding: 5px 7px;
    flex: 0 0;
    font-weight: bold;
}
.window > .window-title > .close-button {
    float: right;
    width: 40px;
    height: calc(100% + 10px);
    margin: -5px -7px -5px 0;
    padding: 0;
    border: none;
    border-left: 1px solid #aaaa;
    border-radius: 0px;
    background: linear-gradient(#711, #311);

    &:hover {
        background: linear-gradient(#c22, #511);
    }

    &:active {
        background: linear-gradient(#511, #200);
    }
}
.window > .window-title > .close-button::before {
    content: "✕";
}
.window > .window-content {
    position: relative;
    flex: 1 1;
}

/* -------------------------------------------------- Intro
*/
.intro-instructions {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.intro-instructions > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-instructions big {
    font-size: 24px;
}

/* -------------------------------------------------- Inventory
*/
.inventory-list {
    position: absolute;
    inset: 0;
    overflow: hidden overflow;
}
.inventory-item {
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    background-clip: padding-box;
}
.inventory-item > .item-amount {
    font-weight: bold;
}

.inventory-item[tier="-1"] {
    background: linear-gradient(90deg, #333, #3337);
}
.inventory-item[tier="0"] {
    background: linear-gradient(90deg, #666, #6667);
}
.inventory-item[tier="1"] {
    background: linear-gradient(90deg, #55f, #55f7);
}
.inventory-item[tier="2"] {
    background: linear-gradient(90deg, #4a4, #4a47);
}
.inventory-item[tier="3"] {
    background: linear-gradient(90deg, #a4f, #a4f7);
}
.inventory-item[tier="4"] {
    background: linear-gradient(90deg, #4aa, #4aa7);
}
.inventory-item[tier="5"] {
    background: linear-gradient(90deg, #d57, #d577);
}
.inventory-item[tier="6"] {
    background: linear-gradient(90deg, #993, #9937);
}
.inventory-item[tier="7"] {
    background: linear-gradient(90deg, #a63, #a637);
}
.inventory-item[tier="8"] {
    background: linear-gradient(90deg, #48c, #68a7);
}
.inventory-item[tier="9"] {
    background: linear-gradient(90deg, #248, #6267);
}
.inventory-item[tier="10"] {
    background: linear-gradient(90deg, #824, #4287);
}
.inventory-item[tier="11"] {
    background: linear-gradient(90deg, #112, #2117);
}