* {
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: #fff7 #fff3;
}

:root {
    --font-family: Arial, sans-serif;
    --font-size: 12px;
}

body {
    background: black;
    color: white;

    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.2;
}


/* -------------------------------------------------- Common classes
*/
.fill-screen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}
.scrollable {
    max-width: 100%;
    overflow: hidden auto;
}
.base-padding {
    padding: 5px 7px;
}

button {
    color: white;
    line-height: 1.2;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #0007;
}

/* -------------------------------------------------- View canvas
*/
#view-canvas {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/* -------------------------------------------------- Splash text
*/
#splash {
    padding-top: 60px;
    font-size: 24px;
    text-align: center;
    pointer-events: none;
    line-height: 1;
    text-shadow: -25px 1px 20px black, 0 1px 20px black, 25px 1px 20px black;
}
#splash small {
    font-size: 12px;
    line-height: 1.2;
}

/* -------------------------------------------------- Topbar
*/
#topbar {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    padding: 5px;
    gap: 4px;
    background: linear-gradient(#0005, #0000);
}

#topbar .tally {
    width: 150px;
    background: #000a;
    border: 1px solid #aaaa;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    background-clip: padding-box;
}
#topbar .tally-title {
    text-align: left;
}
#topbar .tally-value {
    font-weight: bold;
}

/* -------------------------------------------------- Cursor lock indicator
*/
.cursor-lock {
    pointer-events: none;
    background: #fff7;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------- Current block identifier
*/
#block-identifier {
    pointer-events: none;
    background: var(--tier-background), linear-gradient(#000c, #000c);
    position: fixed;
    bottom: 120px;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 0 4px #000;
    border: 1px solid #aaaa;
    padding: 5px 7px;
    transform: translate(-50%, -50%);
}
#block-identifier.hidden {
    opacity: 0;
    transition: opacity .3s;
}


/* -------------------------------------------------- Windows
*/
.window {
    position: fixed;
    width: 150px;
    background: #000c;
    border: 1px solid #aaaa;
    border-radius: 5px;
    box-shadow: 0 0 4px #000;
    overflow: hidden;
    display: grid;
    flex-direction: column;
    grid-template-rows: calc(1.2em + 10px) 1fr;
}
.window > .window-title {
    background: linear-gradient(#333a, #111a);
    border-bottom: 1px solid #aaaa;
    box-shadow: inset 0 0 3px #fff3;
    padding: 5px 7px;
    flex: 0 0;
    font-weight: bold;
    display: flex;
    justify-content: justify;
}
.window > .window-title > .close-button {
    width: 40px;
    margin: -5px -7px -5px auto;
    padding: 0;
    border: none;
    border-left: 1px solid #aaa7;
    border-radius: 0px;
    background: linear-gradient(#711, #311);
    box-shadow: 0 0 3px #fff3;

    &:hover {
        background: linear-gradient(#c22, #511);
    }

    &:active {
        background: linear-gradient(#511, #200);
    }
}
.window > .window-title > .close-button::before {
    content: "✕";
}
.window > .window-content {
    position: relative;
    max-height: 100%;
    flex: 0 1 0px;
}
.window-cover {
    position: fixed;
    inset: 0;
    background: #000a;
}

/* -------------------------------------------------- Intro
*/
.intro-instructions {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.intro-instructions > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-instructions big {
    font-size: 24px;
}

/* -------------------------------------------------- Inventory
*/
.inventory-list {
    position: absolute;
    inset: 0;
    overflow: hidden overflow;
}
.inventory-item {
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    background-clip: padding-box;
    background:  var(--tier-background);
}
.inventory-item > .item-amount {
    font-weight: bold;
}

/* -------------------------------------------------- Rarity tiers
*/
[tier="-1"] {
    --tier-background: linear-gradient(90deg, #333, #3333);
}
[tier="0"] {
    --tier-background: linear-gradient(90deg, #666, #6663);
}
[tier="1"] {
    --tier-background: linear-gradient(90deg, #55f, #55f3);
}
[tier="2"] {
    --tier-background: linear-gradient(90deg, #4a4, #4a43);
}
[tier="3"] {
    --tier-background: linear-gradient(90deg, #a4f, #a4f3);
}
[tier="4"] {
    --tier-background: linear-gradient(90deg, #4aa, #4aa3);
}
[tier="5"] {
    --tier-background: linear-gradient(90deg, #d57, #d573);
}
[tier="6"] {
    --tier-background: linear-gradient(90deg, #993, #9933);
}
[tier="7"] {
    --tier-background: linear-gradient(90deg, #a63, #a633);
}
[tier="8"] {
    --tier-background: linear-gradient(90deg, #48c, #68a3);
}
[tier="9"] {
    --tier-background: linear-gradient(90deg, #248, #6263);
}
[tier="10"] {
    --tier-background: linear-gradient(90deg, #824, #3263);
}
[tier="11"] {
    --tier-background: linear-gradient(90deg, #224, #4223);
}